<nav class="rb-toolbar">
    <button type="button" data-action="back" data-tooltip="PF2ERB.Back"
            {{#unless canBack}}disabled{{/unless}}>
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button type="button" data-action="forward" data-tooltip="PF2ERB.Forward"
            {{#unless canForward}}disabled{{/unless}}>
        <i class="fa-solid fa-arrow-right"></i>
    </button>
    <button type="button" data-action="home" data-tooltip="PF2ERB.Home">
        <i class="fa-solid fa-house"></i>
    </button>
    <button type="button" data-action="toggleBookmark"
            class="rb-bookmark {{#if bookmarked}}active{{/if}}"
            data-tooltip="{{#if bookmarked}}PF2ERB.RemoveBookmark{{else}}PF2ERB.AddBookmark{{/if}}"
            {{#unless bookmarkable}}disabled{{/unless}}>
        <i class="fa-{{#if bookmarked}}solid{{else}}regular{{/if}} fa-star"></i>
    </button>
    <button type="button" data-action="openPalette" data-tooltip="PF2ERB.PaletteHint">
        <i class="fa-solid fa-bolt"></i>
    </button>
    <div class="rb-search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" class="rb-search" value="{{searchQuery}}"
               placeholder="{{localize 'PF2ERB.SearchPlaceholder'}}"
               autocomplete="off" spellcheck="false">
        {{#if searchQuery}}
        <button type="button" class="rb-clear" data-action="clearSearch"
                data-tooltip="PF2ERB.ClearSearch">
            <i class="fa-solid fa-xmark"></i>
        </button>
        {{/if}}
    </div>
</nav>
